@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Roboto', sans-serif;
    --font-tertiary: 'Open Sans', sans-serif;
    --color-btn-primary: #F2BB13;
    --color-text-logo: #F2BB13;
    --color-primary: #0D0D0D;
    --color-secondary: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

/* menu */

.bg-color-primary {
    background-color: var(--color-primary);
}

.text-logo-especial {
    color: var(--color-text-logo);
}

.item {
    padding: 0 1rem;
    cursor: pointer;
}

.text-menu {
    font-family: var(--font-primary);
    font-size: 1.35rem;
    color: white;
    text-transform: capitalize;
    font-weight: 500;
}

.especial {
    background: var(--color-btn-primary);
    padding: 1.25rem 1rem; 
    border: 1px solid white;
    border-radius: 10px;
    position: relative;
}

.especial::after {
    content: '';
    background: white;
    width: 115%;
    height: 2px;
    position: absolute;
    left: -15px;
    bottom: -20px;
}

.menu-footer {
    height: 270px;
    background: url('./../img/menu-footer.png') no-repeat;
    background-size: 100% 100%;
    margin-bottom: -3rem;
}

.menu-footer img {
    margin-top: 70px;
    width: 128px;
    height: 128px;
}

/* header */

.title-header {
    color: black;
}

.img-perfil {
    width: 60px;
    height: 60px;
}

.hr-header {
    position: relative;
}

.hr-header::after {
    content: '';
    background: black;
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

/* tabela */

.text-th {
    font-weight: 400;
}

.btn-add {
    background-color: #2E8769;
    text-decoration: none;
    color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 6px;
}

.btn-add img {
    width: 32px;
    height: 32px;
}

.text-tr {
    font-family: var(--font-tertiary);
    font-weight: 400;
}

th, td {
    padding: 8px;
}

tbody tr:nth-child(even) {
    background-color: white;
}

tbody tr:nth-child(odd) {
    background-color: #F1F1F1;
}

.btn-editar {
    background-color: #D5D523;
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    font-weight: bold;
    text-transform: capitalize;
    border: 1px solid black;
}

.btn-editar:hover {
    color: black;
}

.btn-excluir {
    color: #E00029;
    padding: 5px 10px;
    font-weight: bold;
    text-transform: capitalize;
    border: 1px solid black;
}

/* paginação */

.pagination {
    display: inline-block;
    border: 1px solid #F2BB13;
    padding: 5px;
    color: var(--color-primary);
}

.pagination-active {
    display: inline-block;
    background-color: #0D0D0D;
    border: 1px solid white;
    padding: 5px;
    color: white;
}

.pagination:hover {
    color: #D5D523;
}

/* modal */

#modalcadastro {
    display: none;
}

.box {
    font-family: var(--font-primary);
    padding: 2rem;
    width: 600px; 
    border-right: 5px solid #FFFF00;
}

.box label {
    color: #F2BB13;
    margin-bottom: 5px;
    font-size: 1rem;
}

.box input {
    border: 1px solid #F2BB13;
    border-radius: 10px;
    padding: 8px;
}

.box .btn-modal {
    font-family: var(--font-secondary);
    font-size: 1.25rem;
    font-weight: 400;
    background-color: #F2BB13;
    border: 1px solid white;
    color: black;
    padding: 12px 22px;
}


.title-excluir {
    font-size: 1rem !important;
    margin-right: 1rem;
}

.btn-excluir2 {
    font-size: 1.5rem;
    margin-top: 2rem;
    padding: 1rem 2rem;
    background-color: #E00029;
    color: white;
    border: 1px solid white;
    border-radius: 20px;

}